body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
    margin-bottom:1em;
}
.newTeacher_form {
    width:100%;
    font-size:1.4em;
}
label {
    max-width: 200px;
}
.h2-heading{
    padding-bottom: 1em;
    text-decoration: underline;
}
nav{
    display:inline;
}
.navlink {
    float: right;
    font-size: 1.5em;
    
}
.navlinkleft {
    float: left;
    font-size: 1.5em;
    padding-bottom:2em;
    
    margin-right:2em;
}
.navnewlink {
    float: right;
    font-size: 1.3em;
}
.dellink {
    float: right;
    font-size: 1.5em;
    border:2px solid red;
    border-radius:5px;
    padding:10px;
    background-color:red;
    color:white;
}
.showTeacher-div {
    width: 100%;
    text-align: left;
    font-size: 1.4em;
    clear:both;
  
}
.showTeacher-div>h3 {
    text-decoration:underline;
    padding-bottom:1em;
    
}
#containerlist {
  font-size:1.5em;
}

.aside1 {
    padding-top:1em;
    font-size:1.2em;
}
h2 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 1.2em;
    margin-bottom: 1em;
}
.code {
    text-transform:uppercase;
}

.listitem{
    margin-top:1.2em;
    font-size:1em;
}


