@model IEnumerable<Assignment3_N01434210.Models.Class>
@{
    ViewBag.Title = "List";
}
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

<div id="containerlist">
    <h2>List of Classes</h2>
    @foreach (Assignment3_N01434210.Models.Class classes in Model)
    {
        <div class="listitem row">
            <div class="col-md-12"><a href="/Classes/Show/@classes.ClassId"><span class="code">@classes.ClassCode</span> - @classes.ClassName</a></div>
        </div>
    }
</div>
