@model IEnumerable<Assignment3_N01434210.Models.Teacher>
@{
    ViewBag.Title = "List";
}
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
<!--This page should be showing information about all teachers-->

<div id="containerlist">
    <h2>List of Teachers</h2>
    @foreach (var teacher in Model)
    {
        <div class="listitem row">
            <div class="col-md-12"><a class=" teacher-links" href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a></div>
        </div>
    }
</div>
